.btn {
  background-color: #3a6f84;
}
.btn:hover {
  background-color: #4b8ea9;
}

.color_link {
  color: #3a6f84;
}

.color_link:hover {
  color: #4b8ea9;
}

.input {
  outline: none;
}
.input:focus {
  border: 1px solid #3a6f84;
}

.login_container {
  padding-bottom: 15em;
}

@media (max-width: 768px) {
  .login_container {
    padding-bottom: 2em;
  }
}