.input {
    outline: none;
}
.input:focus {
    border: 1px solid #3a6f84;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn {
    background-color:#3a6f84 ;
}
.btn:hover {
    background-color: #4b8ea9;
  }