.icons {
    font-size: 30px;
    cursor: pointer;
}
.inputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2em;
}

.inputContainer input {
  outline: none;
  border: 1px solid #3d3d3d;
  width: 90%;
  height: 20%;
  border-radius: 2em;
  text-align: center; /* Centra el texto en el input */
  font-size: larger;
}

.inputContainer input::placeholder {
  color: black;
  font-style: italic;
  text-align: center; /* Centra el placeholder en el input */
  font-size: 18px;
}

.inputContainer input:focus {
  border: 1px solid #3a6f84;
}
